@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  position: relative;
}
main #background_desktop {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: -2;
}
@media screen and (max-width: 375px) {
  main #background_desktop {
    display: none;
  }
}
main #background_mobile {
  display: none;
}
@media screen and (max-width: 375px) {
  main #background_mobile {
    display: flex;
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 200px;
  }
}

label {
  margin-bottom: 10px;
  text-transform: uppercase;
}

#input input {
  border-radius: 5px;
  margin: 10px 5px 50px;
  padding: 5px;
}
#input #text_monat,
#input #text_year {
  width: 50px;
}
@media screen and (max-width: 375px) {
  #input #text_cvc {
    width: 36%;
  }
}

#btn_confirm {
  width: 55%;
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  padding: 10px 100px;
  border-radius: 10px;
  margin-bottom: 30px;
}
#btn_confirm:hover {
  background-color: hsl(270, 3%, 87%);
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  #btn_confirm {
    width: 95%;
  }
}

#btn_continue {
  width: 55%;
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  padding: 10px 100px;
  border-radius: 10px;
  margin-bottom: 130px;
}
#btn_continue:hover {
  background-color: hsl(270, 3%, 87%);
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  #btn_continue {
    width: 95%;
  }
}

#messages {
  display: flex;
  flex-direction: row;
}

.error-message {
  color: hsl(0, 100%, 66%);
  font-size: 13px;
  margin-bottom: 10px;
  display: none;
}

#error-cvc {
  margin-left: 20px;
}

#card_front {
  color: hsl(0, 0%, 100%);
  width: 350px;
  position: absolute;
  top: 20%;
  left: 8%;
}
@media screen and (max-width: 375px) {
  #card_front {
    width: 75%;
    top: 15%;
    left: 6%;
  }
}
#card_front #bg_card_front {
  width: 100%;
  z-index: -1;
}
#card_front #card_front_info {
  position: absolute;
  top: 0;
  z-index: 10;
}
#card_front #card_front_info #card_logo {
  margin: 20px;
  width: 50px;
}
#card_front #card_front_info #card_number {
  position: absolute;
  bottom: -60px;
  font-size: 22px;
  width: 400px;
  letter-spacing: 3px;
  padding-left: 25px;
}
@media screen and (max-width: 375px) {
  #card_front #card_front_info #card_number {
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 25px;
    width: 220px;
  }
}
#card_front #card_front_info #card_info {
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-left: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 375px) {
  #card_front #card_front_info #card_info {
    font-size: 12px;
    width: 210px;
    margin-bottom: 45px;
    padding-left: 10px;
  }
}

#card_back {
  width: 350px;
  position: absolute;
  top: 58%;
  left: 15%;
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 375px) {
  #card_back {
    width: 75%;
    top: 5%;
    left: 20%;
  }
}
#card_back #bg_card_back {
  width: 100%;
  position: absolute;
  z-index: -1;
}
#card_back #card_cvc {
  width: 85%;
  text-align: right;
  position: absolute;
  bottom: -103px;
  letter-spacing: 2px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  #card_back #card_cvc {
    bottom: -74px;
  }
}

#card_input {
  width: 100%;
  position: relative;
  margin: auto;
  padding: 200px 0 0 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  font-size: 15px;
}
@media screen and (max-width: 375px) {
  #card_input {
    width: 95%;
    padding: 300px 0 0 0;
  }
}
#card_input input {
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}
#card_input .input_text {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  line-height: 30px;
}
@media screen and (max-width: 375px) {
  #card_input .input_text {
    width: 100%;
  }
}
#card_input #cvc_label {
  margin-left: 20px;
}

#card_confirm {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 200px 0 0 620px;
}
@media screen and (max-width: 375px) {
  #card_confirm {
    width: 95%;
    padding: 450px 0 0 0;
  }
}
#card_confirm #icon_complet {
  width: 50px;
  height: 50px;
}
#card_confirm #thank {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0;
}
#card_confirm #thank_text {
  font-size: 15px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
