main {
  position: relative;

  #background_desktop {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: -2;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      display: none;
    }
  }

  #background_mobile {
    display: none;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      display: flex;
    }
  }
}
