label {
  margin-bottom: 10px;
  text-transform: uppercase;
}

#input {

  input {
    border-radius: 5px;
    margin: 10px 5px 50px;
    padding: 5px;
  }

  #text_monat,
  #text_year {
    width: 50px;
  }

  #text_cvc {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      width: 36%;
    }
  }

}
