#card_front {
  color: $white;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 10%;

  #bg_card_front {
    z-index: -1;
  }

  #card_front_info {
    position: absolute;
    top: 0;
    z-index: 10;

    #card_logo {
      padding: 20px;
    }

    #card_number {
      position: absolute;
      bottom: -90px;
      font-size: 30px;
      width: 400px;
      letter-spacing: 5px;
      padding-left: 40px;
    }

    #card_info {
      position: absolute;
      bottom: -120px;
      @include flex-space-row;
      width: 350px;
      padding-left: 40px;
      text-transform: uppercase;
    }
  }
}
