#card_front {
  color: $white;
  width: 350px;
  position: absolute;
  top: 20%;
  left: 8%;
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    width: 75%;
    top: 15%;
    left: 6%;
  }

  #bg_card_front {
    width: 100%;
    z-index: -1;
  }

  #card_front_info {
    position: absolute;
    top: 0;
    z-index: 10;

    #card_logo {
      padding: 20px;
      width: 50px;
    }

    #card_number {
      position: absolute;
      bottom: -60px;
      font-size: 25px;
      width: 400px;
      letter-spacing: 3px;
      padding-left: 25px;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        font-size: 18px;
        padding-left: 10px;
        margin-bottom: 25px;
        width: 220px;
      }
    }

    #card_info {
      position: absolute;
      bottom: -100px;
      @include flex-space-row;
      width: 300px;
      padding-left: 20px;
      text-transform: uppercase;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        font-size: 12px;
        width: 210px;
        margin-bottom: 45px;
        padding-left: 10px;
      }
    }
  }
}
