#card_input {
    width: 50%;
    position: relative;
    margin: auto;
    padding: 200px 0 0 500px;
    @include flex-start-column;
    align-items: start;
    font-size: 15px;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        width: 95%;
        padding: 300px 0 0 0;
    }

    input {
        height: 30px;
        border-radius: 10px;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    .input_text {
        width: 55%;
        @include flex-center-column;
        text-transform: uppercase;
        line-height: 30px;
        @media screen and (max-width: map-get($breakpoints, mobile)) {
            width: 100%;
        }
    }

    #cvc_label {
        margin-left: 20px;
    }
    
}