#card_back {
  position: absolute;
  top: 80%;
  left: 15%;
  color: $white;

  #bg_card_back {
    position: absolute;
    z-index: -1;
  }
  #card_cvc {
    position: absolute;
    bottom: -127px;
    left: 365px;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  
}
