//colors
$linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); //active input border
$red: hsl(0, 100%, 66%); //input errors
$white: hsl(0, 0%, 100%);
$light_grayish_violet: hsl(270, 3%, 87%);
$dark_drayish_violet: hsl(279, 6%, 55%);
$very_dark_violet: hsl(278, 68%, 11%);

//font-family
$space_grotesk: "Space Grotesk", sans-serif;

//font-size
$normal: 18px;